body{
	/*background is gray and border is the color*/
	/*of the robot. */
	border-style: solid;
	border-width: 2vh;
	margin: 0;
	height: 96vh;
	font-family: 'Slabo 27px', serif;
	font-size: 1vw;
}

img.home{
	margin-top: 12vh;
	width: 80vh;
	height: auto;
}

p.home {
	font-size: 3vh;
	margin-top: 0;
}

#menu {
	display: none;
}

#moduleSelection {
	display: initial;
}

button.home {
	text-align: center;
	background-color: #373737;
	color: white;
	margin-top: 3vh;
	border-radius: 5px; 
	border: none;
	padding: 2vh 4vw;
	cursor: pointer;
	font-size: 2vh;
}

button.module {
	text-align: center;
	background-color: #575757;
	color: white;
	margin-top: 3vh;
	margin-right: 2vw;
	margin-left: 2vw;
	border-radius: 5px; 
	border: none;
	padding: 2vh 4vw;
	cursor: pointer;
	font-size: 2vh;
}

#canvas_container {
	width: 100%;
	height: 80%;
	text-align: center;
}

#adjustable {
	width: 98%;
	height: 20%;
	margin-left: 1vw;
	margin-right: 1vw;
}

img.module1 {
	object-fit: contain;
	max-width: 95%;
	max-height: 75%;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -10%);
}

video {
	display: none;
	object-fit: contain;
	max-width: 90%;
	max-height: 100%;
	box-shadow: 5px 10px 4px #676767;
    border-radius: 10px;
    border-style: solid;
    border-width: 6px;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

