:root {
	--robot-color: #7C2629;/*#EF1116;*/
	--accent-color: #;
}

body{
	/*background is gray and border is the color*/
	/*of the robot. */
	border-color: #7C2629;
	background-color: #949494;
}

p {
	color: #373737;
}

h1{
	color: #7c2629;
}

h2{
	color: #cccccc;
}

video {
	border-color: #cccccc;
}